/* ====================================================  Head CSS   -========================================= */
body{
    margin: 0 ;
    
    padding: 0;
}
nav{
    background-color: #fff;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
ul li a{
    text-decoration: none;
    color: black;
}
.logo img{
    width: 150px;
    height: 100px;
}
.headerleft{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.menu>ul
{
    display: flex;
    gap: 45px;
    list-style-type: none;
}
.menu ul li{
    font-size: 19px;
    font-weight: 530;
}
.headerright{
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 20px;
}
.text{
    font-weight: 550;
}
.login{
    width: 70px;
    height: 25px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    text-align: center;
    padding:10px;
}
.headerright a{
    text-decoration: none;
    font-weight: 700;
}
.login:hover{
    
    transform: translateY(-5px);
    box-shadow: 0 0 0 2px red;
    
}
.get_started:hover{
    transform: translateY(-5px);  
}
.text:hover{
    transform: translateY(-5px);  
}
.get_started{
background-color: rgb(102, 102, 217);
width: 120px;
height: 35px;
text-align: center;
font-weight: 540;
color: #fff;
padding-top: 13px;
border-radius: 5px;
}


.line
{
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    color: #fff;
    filter: brightness(120%);
    z-index: 0;
}
.line:hover{
    filter: brightness(100%);
}
.line h4{
    margin: 0px;
    padding: 15px;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: #fff;
    
}

.megamenu{
    position: absolute;
    width: 1180px;
    top: 90px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    border-top: 1px solid #000;
    z-index: 1;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 50px;
}

nav ul li:hover .megamenu{
    visibility: visible;
    opacity: 1;
}
.megaitems
{
    list-style: none;
    align-items: center;
    
    padding: 7px;
    
}
.megaitems ul li:hover{
    color: blueviolet;
}
header{
    color: grey;
    font-weight: 900;
    text-align: center;
}
.megaitems a{
    font-size: 20px;
    background-color: blue;
    color: rgb(249, 249, 249);
    padding: 10px 40px;
    border-radius: 30px;
}
.links a:hover{
    color: blue;
}
.links a{
    font-size: larger;
    display: block;
}

@media (max-width:391px) {
	.menu>ul{
		display:none;
	}
	.headerright{
		display:none;
	}
    
}
         /* ===========================================  Body CSS ======================================== */


.upperbody{
    
    object-fit: contain;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-around;
    
    
}
.contentleft{
    padding: 20px;
    /* padding-bottom: 0; */
    
}
.contentleft h1{
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 0;
}
.contentleft h3{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: x-large;
    font-weight:100;
}
.contentright{
    padding: 50px;
   
}
@media (max-width:391px) {
	.contentright{
        display: none;
    }
    
}

.Explore{
    
    background-color: rgb(16, 16, 228);
    border-radius: 6px;
    color: #fff;
    padding: 23px;
    margin: 40px;
}
.Explore:hover{
 
   padding: 24px;

}

.sectionwise{
    background-image: url(image/Home.png);
    height: 1100px;
    background-position: center;
    background-size: cover;
}

.midsection h1{
    font-size: 45px;
    font-weight: 300;
}
.contents{
    display: flex;
    justify-content:space-around;
}
.contents img{
    height: 90px;
}
.box1{
    padding: 50px;
}
.box1 img{
    color: red;
    
}

.box1 h3{
    color: gray;
    font-weight: 500;
}
.box1 a{
text-decoration: none;
font-size: 24px;
color: rgb(25, 128, 6);
position: relative;
}
.box1 a:hover::after{
    content: "";
    position: absolute;
    top: 30px;
    right: 50px;
    width: 60px;
    height: 4px;
    
    background-color: red;
}
body{
    background-color: #f8f8f9;


}
/* ========================================Body first part============================= */
.part1{
    background-color: #f8f8f9;
    height: 200px;
}
.part1 h2{
    font-size: 20px;
    margin-top:50px ;
    margin-left: 50px;
    color: gray;
    margin-bottom: 0px;
}

.company{
    display: flex;
    gap: 30px;
    margin-left: 40px;
    
}
.company img{
    height: 80px;
    width: 150px;
    filter: grayscale(100%);
}
.company img:hover{
    filter: grayscale(0);
}



.picture1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 70px;
}

.picture1 img
{
    height: 400px;
    width: 500px;
    
    padding: 70px;
    
}
.picture1 h1{
    font-size: 50px;
    font-weight: 100;
    
}
.picture1 h3{
    font-weight: 100;
    color: gray;
}
.picture2 h3{
    font-weight: 100;
    color: gray;
}
.content1-text{
    width: 500px;
    margin-right: 50px;
}
.content1-text a{
    text-decoration: none;
    font-size: 20px;
    color: blue;
    font-weight: 700;
    
}
.content2-text a{
    text-decoration: none;
    font-size: 20px;
    color: blue;
    font-weight: 700;
    
}


.picture2 img{
    height: 400px;
    width: 500px;
    padding: 70px;
}

.picture2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content2-text{
    width: 500px;
    margin-left: 50px;

}
.picture2 h1{
    font-size: 50px;
    font-weight: 100;
}


/* ======================================== section 2 ================================== */

.marketing
{
    background-color:#E6F9F3;
    height: 900px;
    width: 100%;
}
.marketing h1{
    font-size: 45px;
    font-weight: 400;
}
.marketing .spaning{
    font-weight: 100;
    font-size: 25px;
    
}
span{
    display: block;
}

.streamers{
    display: flex;
    justify-content: space-around;
}
.people img{
    width: 350px;
    height: 200px;
}
.people .ptag{
    font-size: 18px;
    margin-bottom: 40px;
}
.people a{
    background-color: rgb(253, 253, 253);
    padding: 25px;
    border: 2px solid wheat;
    text-decoration: none;
    color: black;
    font-weight:bolder;
    
}
.people a:hover{
    transform: translateX(-66px);

    box-shadow: 0 0 0 1px red;

}
/* ===============================================Medals Part===================================== */

.medals h1{
    font-size: 40px;
    font-weight: 300;
    padding: 40px;
}
.ppp img{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}
.pp img{
    width: 100px;
    height: 120px;
    padding-left: 30px;
}
.ppp .up{
    width: 160px;
    height: 180px;

}




/* ============================Ratings part ======================================== */

.ratings{
    padding: 60px;
    display: flex;
    gap: 30px;
    
}
.raters
{
    background-color: #faf1dad4;
    padding: 40px;
}
.raters i{
    color: rgb(250, 190, 31);

}
.raters h5{
    color: grey;
}

@media(max-width:392px) {
    .ratings{
        display: block;
    }
    .raters{
		margin-bottom:20px;
	}
    
}



/* ============================================blue part============================= */

.blue{
background-image: url(image/Background.png);
height: 400px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-position: center;
background-size: cover;

}
.blue h1{
    font-size: 60px;
    color: white;
    font-weight: 300;
}

.blue a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #00A667;
    padding: 20px;
    border-radius: 7px;
    font-weight: 900;
    
}
.blue a:hover{
   padding: 24px;
}


  /* ========================================== footer ====================================================== */


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    gap: 20px;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 15%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
    margin-left: 33px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #f9fbff;
	background-color: #300de0;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.footer-col img{

     width: 350px;
     height: 60px;
     
}
.footer-col h2{
    color: white;
}
.footer-col a{
    text-decoration: none;
    color:rgb(107, 103, 241);
}